@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background: #edf2f7;
  font-family: "Segoe UI", "PingFang SC", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
